body{
    background-color: #FFFFFF;
}
.main{
    display: flex;
    flex-direction: column;
}
/*header*/

.header{
    display: flex;
    align-items: center;
    background-color: #1F2937;
    padding: 20px 100px 20px 100px;
}
.logo img{
    width: 48px;
}
.header-link{
    display: flex;
    margin-left: auto;   
}
.header-link a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    padding: 12px;
}
/*Header-text*/

.header-text{
    display: flex;
    align-items:flex-start;
    background-color: #1F2937;
    padding: 60px 100px 60px 100px;
    justify-content: space-between;
}
.ht-l h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
}
.ht-l p{
    font-size: 18px;
    color: #E5E7EB;
}
.ht-l button{
    background-color: #3882F6;
    color:#F9FAF8;
    border: none;
    border-radius: 8px;
    height: 24px;
}
.ht-r img{
    width: 200px;
}
/**/


    
